# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# IDEs
.vscode/
.idea/

#内部文書
UIモックアップ/
test_project/
tests/
test_mod/

#設定保存ファイル
plugins/**/settings.json
plugins_registry.json


# OS
.DS_Store
Thumbs.db

# AI
AGENTS.md

#古いデータとプロジェクト分離
hoi4-old
plugins