# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
bin/

# IDEs
.vscode/
.idea/

#内部文書
UIモックアップ/
test_project/
tests/
test_mod/
資料/

#設定保存ファイル
plugins/**/settings.json
plugins_registry.json


# OS
.DS_Store
Thumbs.db

# AI
AGENTS.md

tools/project_search_worker/target
tools/project_search_worker/Cargo.lock
project_search_worker.obj
settings.json

# Rust (pdx_inspector) Build Artifacts
core/pdx_inspector.pyd
tools/pdx_inspector/target
tools/pdx_inspector/Cargo.lock
tools/pdx_inspector/Cargo.lock